* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v33_113 {
  width: 100%;
  height: 2090px;
  background: url("../images/v33_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 57px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_114 {
  width: 100%;
  height: 2090px;
  background: url("../images/v33_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 57px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_218 {
  width: 100%;
  height: 132px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v25_219 {
  width: 489px;
  height: 42px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 2020px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v25_220 {
  width: 100%;
  height: 75px;
  background: url("../images/v25_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 708px;
  overflow: hidden;
}
.v25_221 {
  width: 100%;
  height: 71px;
  background: url("../images/v25_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 173px;
  overflow: hidden;
}
.v25_222 {
  width: 241px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 14px;
  left: 331px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v25_223 {
  width: 191px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 10px;
  left: 572px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v25_224 {
  width: 236px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 10px;
  left: 847px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v25_225 {
  width: 209px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 10px;
  left: 1130px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v25_226 {
  width: 34px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 8px;
  left: 1494px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_227 {
  width: 418px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 50px;
  left: 175px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v2_837 {
  width: 100%;
  height: 293px;
  background: rgba(233,238,245,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  overflow: hidden;
}
.v2_838 {
  width: 423px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 56px;
  left: 1181px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v2_839 {
  width: 768px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 113px;
  left: 990px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v2_886 {
  width: 100%;
  height: 351px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 0px;
  overflow: hidden;
}
.v2_887 {
  width: 41px;
  height: 41px;
  background: url("../images/v2_887.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 1260px;
  overflow: hidden;
}
.v2_888 {
  width: 25px;
  height: 41px;
  background: url("../images/v2_888.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 1260px;
  overflow: hidden;
}
.v2_889 {
  width: 456px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1148px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v2_890 {
  width: 406px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v2_891 {
  width: 40px;
  height: 20px;
  background: url("../images/v2_891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 1356px;
  overflow: hidden;
}
.v2_892 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 20px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.4000000059604645);
  overflow: hidden;
}
.v2_893 {
  width: 18px;
  height: 14px;
  background: url("../images/v2_893.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1586px;
  overflow: hidden;
}
.v2_894 {
  width: 13px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v2_895 {
  width: 236px;
  height: 60px;
  background: url("../images/v2_895.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_896 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v2_897 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v2_898 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_899 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v2_840 {
  width: 990px;
  height: 485px;
  background: url("../images/v2_840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 947px;
  left: 879px;
  overflow: hidden;
}
.v2_841 {
  width: 495px;
  height: 72px;
  background: url("../images/v2_841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_842 {
  width: 90px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 1px;
  left: 12px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_843 {
  width: 469px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_844 {
  width: 445px;
  height: 22px;
  background: url("../images/v2_844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v2_845 {
  width: 48px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_846 {
  width: 495px;
  height: 72px;
  background: url("../images/v2_846.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 495px;
  overflow: hidden;
}
.v2_847 {
  width: 44px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_848 {
  width: 469px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_849 {
  width: 445px;
  height: 22px;
  background: url("../images/v2_849.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v2_850 {
  width: 44px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_851 {
  width: 59px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 88px;
  left: 12px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_852 {
  width: 964px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_853 {
  width: 940px;
  height: 22px;
  background: url("../images/v2_853.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v2_854 {
  width: 59px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_855 {
  width: 72px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 176px;
  left: 12px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_856 {
  width: 964px;
  height: 204px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_857 {
  width: 207px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_858 {
  width: 116px;
  height: 48px;
  background: rgba(89,171,110,1);
  opacity: 1;
  position: absolute;
  top: 437px;
  left: 861px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_859 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v25_169 {
  width: 100%;
  height: 601px;
  background: rgba(33,41,52,1);
  opacity: 1;
  position: absolute;
  top: 1489px;
  left: 6px;
  overflow: hidden;
}
.v25_215 {
  width: 100%;
  height: 83px;
  background: rgba(29,36,45,1);
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 0px;
  overflow: hidden;
}
.v25_216 {
  width: 484px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 26px;
  left: 623px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_171 {
  width: 440px;
  height: 384px;
  background: url("../images/v25_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 772px;
  overflow: hidden;
}
.v25_172 {
  width: 416px;
  height: 53px;
  background: url("../images/v25_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 12px;
  overflow: hidden;
}
.v25_173 {
  width: 228px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v25_174 {
  width: 416px;
  height: 111px;
  background: url("../images/v25_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 12px;
  overflow: hidden;
}
.v25_175 {
  width: 260px;
  height: 55px;
  background: url("../images/v25_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v25_176 {
  width: 13px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 13px;
  left: 4px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_177 {
  width: 237px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 11px;
  left: 23px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_178 {
  width: 416px;
  height: 37px;
  background: url("../images/v25_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v25_179 {
  width: 18px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 13px;
  left: 2px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_180 {
  width: 165px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 11px;
  left: 27px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_181 {
  width: 416px;
  height: 37px;
  background: url("../images/v25_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
.v25_182 {
  width: 18px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 13px;
  left: 2px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_183 {
  width: 295px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 11px;
  left: 27px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_184 {
  width: 440px;
  height: 384px;
  background: url("../images/v25_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1212px;
  overflow: hidden;
}
.v25_185 {
  width: 416px;
  height: 53px;
  background: url("../images/v25_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 12px;
  overflow: hidden;
}
.v25_186 {
  width: 189px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v25_187 {
  width: 416px;
  height: 259px;
  background: url("../images/v25_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 12px;
  overflow: hidden;
}
.v25_188 {
  width: 52px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_189 {
  width: 88px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_190 {
  width: 137px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 85px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_191 {
  width: 125px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 123px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_192 {
  width: 440px;
  height: 384px;
  background: url("../images/v25_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1652px;
  overflow: hidden;
}
.v25_193 {
  width: 416px;
  height: 53px;
  background: url("../images/v25_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 12px;
  overflow: hidden;
}
.v25_194 {
  width: 250px;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v25_195 {
  width: 416px;
  height: 185px;
  background: url("../images/v25_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 12px;
  overflow: hidden;
}
.v25_196 {
  width: 48px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_197 {
  width: 136px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_198 {
  width: 122px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v25_199 {
  width: 136px;
  color: rgba(220,221,225,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
