* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_363 {
  width: 100%;
  height: 2993px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_2 {
  width: 100%;
  height: 2993px;
  background: url("../images/v33_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_51 {
  width: 100%;
  height: 132px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v24_52 {
  width: 489px;
  height: 42px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 2020px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v24_53 {
  width: 100%;
  height: 75px;
  background: url("../images/v24_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 708px;
  overflow: hidden;
}
.v24_54 {
  width: 100%;
  height: 71px;
  background: url("../images/v24_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 173px;
  overflow: hidden;
}
.v24_55 {
  width: 241px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 14px;
  left: 331px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v24_56 {
  width: 191px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 10px;
  left: 572px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v24_57 {
  width: 236px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 10px;
  left: 847px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v24_58 {
  width: 209px;
  color: rgba(33,41,52,1);
  position: absolute;
  top: 10px;
  left: 1130px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v24_59 {
  width: 34px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 8px;
  left: 1494px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v24_60 {
  width: 418px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 50px;
  left: 175px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v12_249 {
  width: 100%;
  height: 2100px;
  background: url("../images/v12_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 43px 0px;
  margin: -659px;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v2_364 {
  width: 100%;
  height: 616px;
  background: rgba(89,171,110,1);
  margin: 226px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  overflow: hidden;
}
.v2_365 {
  width: 100%;
  height: 329px;
  background: url("../images/v2_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 291px;
  overflow: hidden;
}
.v2_366 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2_367 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 58px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v25_62 {
  width: 480px;
  height: 616px;
  background: url("../images/v25_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1687px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v33_97 {
  width: 100%;
  height: 1387px;
  background: url("../images/v33_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 0px;
  overflow: hidden;
}
.v33_103 {
  width: 100%;
  height: 1392px;
  background: url("../images/v33_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v2_504 {
  width: 100%;
  height: 627px;
  background: url("../images/v2_504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 96px 12px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 659px;
  overflow: hidden;
}
.v2_546 {
  width: 100%;
  height: 756px;
  background: rgba(233,238,245,1);
  padding: 161px 569px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 0px;
  overflow: hidden;
}
.v33_107 {
  width: 100%;
  height: 1133px;
  background: url("../images/v33_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 569px;
  overflow: hidden;
}
.v2_505 {
  width: 660px;
  height: 135px;
  background: url("../images/v2_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_506 {
  width: 507px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v2_507 {
  width: 623px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 67px;
  left: 18px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v2_508 {
  width: 306px;
  height: 209px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 684px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v2_509 {
  width: 80px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 41px;
  left: 113px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v2_510 {
  width: 153px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 129px;
  left: 76px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_511 {
  width: 306px;
  height: 209px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1014px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v2_512 {
  width: 48px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 51px;
  left: 129px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v2_513 {
  width: 160px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 129px;
  left: 72px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_514 {
  width: 306px;
  height: 209px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 0px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v2_515 {
  width: 42px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 51px;
  left: 132px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v2_516 {
  width: 149px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 123px;
  left: 78px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_517 {
  width: 306px;
  height: 209px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 330px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v2_518 {
  width: 42px;
  color: rgba(89,171,110,1);
  position: absolute;
  top: 51px;
  left: 132px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v2_519 {
  width: 229px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 143px;
  left: 38px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v33_98 {
  width: 100%;
  height: 434px;
  background: url("../images/v33_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -107px;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 0px;
  overflow: hidden;
}
.v2_549 {
  width: 623px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 138px;
  left: 378px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v25_63 {
  width: 280px;
  height: 230px;
  background: url("../images/v25_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 1075px;
  overflow: hidden;
}
.v25_68 {
  width: 250px;
  height: 228px;
  background: url("../images/v25_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 825px;
  overflow: hidden;
}
.v2_547 {
  width: 660px;
  height: 135px;
  background: url("../images/v2_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 360px;
  overflow: hidden;
}
.v2_548 {
  width: 941px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 127px;
  left: 129px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v25_69 {
  width: 317px;
  height: 204px;
  background: url("../images/v25_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 85px;
  overflow: hidden;
}
.v25_70 {
  width: 422px;
  height: 196px;
  background: url("../images/v25_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 317px;
  overflow: hidden;
}
.v24_2 {
  width: 100%;
  height: 602px;
  background: rgba(33,41,52,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1421px;
  left: 0px;
  overflow: hidden;
}
.v33_99 {
  width: 100%;
  height: 602px;
  background: url("../images/v33_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_105 {
  width: 100%;
  height: 602px;
  background: url("../images/v33_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_3 {
  width: 100%;
  height: 495px;
  background: url("../images/v24_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 708px;
  overflow: hidden;
}
.v24_48 {
  width: 100%;
  height: 83px;
  background: rgba(29,36,45,1);
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 0px;
  overflow: hidden;
}
.v33_106 {
  width: 100%;
  height: 567px;
  background: url("../images/v33_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 66px;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 623px;
  overflow: hidden;
}
.v33_108 {
  width: 100%;
  height: 567px;
  background: url("../images/v33_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 66px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_100 {
  width: 100%;
  height: 479px;
  background: url("../images/v33_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_109 {
  width: 100%;
  height: 479px;
  background: url("../images/v33_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_4 {
  width: 440px;
  height: 384px;
  background: url("../images/v24_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_17 {
  width: 440px;
  height: 384px;
  background: url("../images/v24_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 440px;
  overflow: hidden;
}
.v24_25 {
  width: 440px;
  height: 384px;
  background: url("../images/v24_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 880px;
  overflow: hidden;
}
.v24_34 {
  width: 224px;
  height: 46px;
  background: url("../images/v24_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 0px;
  overflow: hidden;
}
.v24_49 {
  width: 100%;
  color: rgba(207,214,225,1);
  position: absolute;
  top: 545px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
